html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #eee;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#app {
  width: 400px;
  height: 90%;
  margin: auto;
  margin-top: 2em;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(35, 98, 214, 0.5);
          box-shadow: 0 0 5px rgba(35, 98, 214, 0.5);
  border: 2px solid #eee;
}

#app header {
  padding: 0 1em;
  height: 60px;
  border-bottom: 1px solid #eee;
}

#app main {
  height: calc(100% - 60px);
  overflow-y: auto;
}

.new-button {
  padding: 0.5em 1em;
  -webkit-box-shadow: 0 0 3px rgba(35, 98, 214, 0.5);
          box-shadow: 0 0 3px rgba(35, 98, 214, 0.5);
  background-color: #2362d6;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.new-button:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

summary {
  padding: 1em 5px;
  border-top: 1px solid #eee;
  cursor: pointer;
}

details:not(:last-child) {
  margin-bottom: 1em;
}

.todos {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.todo-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.todo-card:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.169);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.169);
}

.todo-card:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.todo-card > *:first-child {
  width: 50px;
}

.todo-card > *:last-child {
  width: 50px;
}

.todo-card > *:last-child > span {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.todo-card > *:last-child > span:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.todo-card h3,
.todo-card p {
  margin: 5px 0;
}

.form {
  width: 100%;
  padding: 1em;
  overflow: hidden;
}

.form input,
.form textarea {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #eee;
}

.form textarea {
  resize: vertical;
}

.form .save-button {
  padding: 10px 1.5em;
  background-color: #2362d6;
  color: #fff;
  border-radius: 5px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  display: none;
}

.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content {
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border: 2px solid #eee;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
  padding: 1em;
  margin-top: 2em;
  border-radius: 5px;
  position: relative;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  right: 1em;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */